:root {
  --progress-flag-1: #ffafc7;
  --progress-flag-2: #73d7ee;
  --progress-flag-3: #613915;
  --progress-flag-4: #000000;
  --progress-flag-5: #e50000;
  --progress-flag-6: #ff8d00;
  --progress-flag-7: #ffee00;
  --progress-flag-8: #028121;
  --progress-flag-9: #004cff;
  --progress-flag-10: #760088;
}
