---
import Home from "../layouts/Home.astro";
import PostEntry from "../components/PostEntry.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("posts");
---

<Home>
  <h1>Posts</h1>
  {
    posts.map((p) => {
      return <PostEntry {...p} />;
    })
  }
</Home>
