---
import Home from "../layouts/Home.astro";
import { getCollection } from "astro:content";
import PostList from "../components/PostList.astro";

const posts = (await getCollection("posts")).sort((a, b) =>
  new Date(a.data.date) > new Date(b.data.date) ? -1 : 1
);
---

<Home title="Posts" active="posts">
  <h1>Posts</h1>
  <PostList posts={posts} />
</Home>
