---
import { Search, Sun, Moon } from "lucide-astro";

interface Props {
  active?: "home" | "posts" | "projects" | "contact" | "search";
}

const { active } = Astro.props;
---

<header>
  <nav
    class="navbar bg-base-100 gap-1 md:gap-2"
    aria-label="Primary navigation"
  >
    <a
      class:list={[
        "btn",
        { "btn-ghost": active !== "home", "btn-soft": active === "home" },
      ]}
      href="/"
    >
      Home
    </a>
    <a
      class:list={[
        "btn",
        { "btn-ghost": active !== "posts", "btn-soft": active === "posts" },
      ]}
      href="/posts/"
    >
      Posts
    </a>
    <a
      class:list={[
        "btn",
        {
          "btn-ghost": active !== "projects",
          "btn-soft": active === "projects",
        },
      ]}
      href="/projects/"
    >
      Projects
    </a>
    <a
      class:list={[
        "btn hidden md:flex",
        { "btn-ghost": active !== "contact", "btn-soft": active === "contact" },
      ]}
      href="/contact/"
    >
      Contact
    </a>
    <a
      class:list={[
        "btn hidden md:flex",
        { "btn-ghost": active !== "search", "btn-soft": active === "search" },
      ]}
      href="/search/"
    >
      Search
    </a>
    <div class="flex gap-2">
      <a
        id="search-icon"
        href="/search/"
        class:list={[
          "btn md:hidden",
          { "btn-ghost": active !== "search", "btn-soft": active === "search" },
        ]}
      >
        <span class="sr-only">Search</span>
        <Search />
      </a>
      <div class="tooltip tooltip-bottom" data-tip="Toggle theme">
        <label
          id="header--theme-toggle"
          role="button"
          class="btn btn-ghost swap swap-rotate hidden md:inline-grid"
          aria-label="Toggle theme"
        >
          <input type="checkbox" />
          <Sun class="swap-on" />
          <Moon class="swap-off" />
        </label>
        <script>
          const themeToggle = document.querySelector<HTMLInputElement>(
            "#header--theme-toggle > input"
          );
          themeToggle!.checked = (window as any).theme.get() === "emerald";
          themeToggle!.addEventListener("change", (event) => {
            (window as any).theme.toggle();
          });
        </script>
      </div>
    </div>
  </nav>
</header>
