---
import "../styles/progress.css";
---

<a
  class="transition-all h-2 grid grid-cols-10 hover:h-6"
  href="https://www.lgbtqnation.com/2022/06/progress-pride-flag/"
  target="_blank"
  title="Progress pride flag"
>
  <span class="block h-full bg-[var(--progress-flag-1)]"></span>
  <span class="block h-full bg-[var(--progress-flag-2)]"></span>
  <span class="block h-full bg-[var(--progress-flag-3)]"></span>
  <span class="block h-full bg-[var(--progress-flag-4)]"></span>
  <span class="block h-full bg-[var(--progress-flag-5)]"></span>
  <span class="block h-full bg-[var(--progress-flag-6)]"></span>
  <span class="block h-full bg-[var(--progress-flag-7)]"></span>
  <span class="block h-full bg-[var(--progress-flag-8)]"></span>
  <span class="block h-full bg-[var(--progress-flag-9)]"></span>
  <span class="block h-full bg-[var(--progress-flag-10)]"></span>
</a>
