---
import type { MarkdownLayoutProps } from "astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import ProgressFlag from "../components/ProgressFlag.astro";
import Base from "./Base.astro";

interface AcceptedProps {
  title: string;
  active?: "home" | "posts" | "projects" | "contact" | "search";
}
type Props = Partial<AcceptedProps & MarkdownLayoutProps<AcceptedProps>>;

const { frontmatter, title, active } = Astro.props;
const _title = frontmatter?.title ?? title;
const _active = frontmatter?.active ?? active;
---

<Base title={_title}>
  <ProgressFlag />
  <div class="flex flex-col items-center overflow-hidden min-h-[100vh]">
    <Header active={_active} />
    <main
      class="prose prose-a:text-primary prose-a:hover:text-secondary m-2 md:min-w-[65ch]"
    >
      <slot />
    </main>
    <Footer />
  </div>
</Base>
